<% include ./partials/header%>
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" id="register" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password (Min. 8 characters, at least one letter and one number) *</label>
                    <input class="form-control" type="password" name="password" 
                    id="password" placeholder="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required >
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input class="form-control" type="text" name="firstName" id="firstName" placeholder="Adam" >
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Smith" >
                </div>
                <div class="form-group">
                    <label for="avatar">Image</label>
                    <input class="form-control" type="file" id="avatar" name="avatar" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="something@doma.in" required>
                </div>
                <div class="form-group">
                    <label for="aboutMe">About me</label>
                    <textarea class="form-control" form="register" rows="4" cols="50" maxlength="450" name="aboutMe" id="aboutMe" placeholder="Write somethig about youself; where are you from, since when are you travelling, where have you been and what do you want to visit next." ></textarea>
                </div>
                 <div class="form-group">
                    <label for="admin">Wanna be an admin?</label>
                    <input class="form-control" type="text" name="adminCode" id="admin" placeholder="Admin code">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/campgrounds">Go back</a>
            <p>* required</p>
        </div>
    </div>
<% include ./partials/footer%>